{% extends "falcon/base_template.html" %}
{% load static %}
    {% block main %}
    <main class="main" id="top">

      <div class="container" data-layout="container">
        <nav class="navbar navbar-vertical navbar-expand-xl navbar-vibrant">
          <div class="d-flex align-items-center">
            <div class="toggle-icon-wrapper">

              <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle" data-toggle="tooltip" data-placement="left" title="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>

            </div><a class="navbar-brand" href="index.html">
              <div class="d-flex align-items-center py-3"><span class="text-sans-serif">Log Masters</span>
              </div>
            </a>
          </div>
          <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
            <div class="navbar-vertical-content perfect-scrollbar scrollbar">
              <ul class="navbar-nav flex-column">
                <li class="nav-item"><a class="nav-link dropdown-indicator" href="#home" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="home">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-chart-pie"></span></span><span class="nav-link-text">Отчеты</span>
                    </div>
                  </a>
                  <ul class="nav collapse show" id="home" data-parent="#navbarVerticalCollapse">
                    <li class="nav-item active"><a class="nav-link" href="index.html">Сводный отчет по базе данных</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="home/dashboard-alt.html">Отчет по движениям товаров</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="home/feed.html">Отчет по операциям с контрагентами</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item"><a class="nav-link dropdown-indicator" href="#pages" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="pages">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-copy"></span></span><span class="nav-link-text">Справочник</span>
                    </div>
                  </a>
                  <ul class="nav collapse" id="pages" data-parent="#navbarVerticalCollapse">
                    <li class="nav-item"><a class="nav-link" href="pages/activity.html">Товары</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="pages/associations.html">Контрагенты</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="chat.html">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-comments"></span></span><span class="nav-link-text"> Документы</span>
                    </div>
                  </a></li>
                <li class="nav-item"><a class="nav-link dropdown-indicator" href="#email" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="email">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-envelope-open"></span></span><span class="nav-link-text">Сервис</span>
                    </div>
                  </a>
                  <ul class="nav collapse" id="email" data-parent="#navbarVerticalCollapse">
                    <li class="nav-item"><a class="nav-link" href="email/inbox.html">Администрирование</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="email/email-detail.html">Удаление помеченных объектов</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="email/compose.html">Импорт товаров</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="email/compose.html">Управление остатками</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="email/compose.html">Журнал операций</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <div class="settings px-3 px-xl-0">
                <div class="navbar-vertical-divider px-0">
                  <hr class="navbar-vertical-hr my-3" />
                </div><a class="btn btn-sm btn-block btn-purchase mb-3" href="https://themes.getbootstrap.com/product/falcon-admin-dashboard-webapp-template/">
                  Выход</a>
              </div>
            </div>
          </div>
        </nav>
        <div class="content">
          <nav class="navbar navbar-light navbar-glass navbar-top sticky-kit navbar-expand">

            
            <ul class="navbar-nav align-items-center d-none d-lg-block">
              <li class="nav-item">
                <div class="search-box">
                  <form class="position-relative" data-toggle="search" data-display="static">

                    <input class="form-control search-input" type="search" placeholder="Поиск..." aria-label="Поиск" />
                    <span class="fas fa-search search-box-icon"></span>
                  </form>
                  <button class="close" type="button" data-dismiss="search"><span class="fas fa-times"></span></button>
                  <div class="dropdown-menu">
                    <div class="scrollbar perfect-scrollbar py-3" style="height: 24rem;">
                      <h6 class="dropdown-header px-card pt-0 pb-2">Members</h6>
                      <a class="dropdown-item px-card py-2" href="pages/profile.html">
                        <div class="d-flex align-items-center">
                          <div class="avatar avatar-l mr-2">
                            <img class="rounded-circle" src="{% static "assets/img/team/3.jpg" %}" alt="" />
                          </div>
                          <div class="flex-1">
                            <h6 class="mb-0">Emma Watson</h6>
                            <p class="fs--2 mb-0">Google</p>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </nav>
          <div class="card mb-3">
            <div class="card-body rounded-soft bg-gradient">
              <div class="row text-white align-items-center no-gutters">
                <div class="col">
                  <h4 class="text-white mb-0">Today $764.39</h4>
                  <p class="fs--1 font-weight-semi-bold">Yesterday <span class="opacity-50">$684.87</span></p>
                </div>
                <div class="col-auto d-none d-sm-block">
                  <select class="custom-select custom-select-sm mb-3" id="dashboard-chart-select">
                    <option value="all">All Payments</option>
                    <option value="successful" selected="selected">Successful Payments</option>
                    <option value="failed">Failed Payments</option>
                  </select>
                </div>
              </div>
              <canvas class="max-w-100 rounded" id="chart-line" width="1618" height="375" aria-label="Line chart" role="img"></canvas>
            </div>
          </div>
          <div class="card-deck">
            <div class="card mb-3 overflow-hidden" style="min-width: 12rem">
              <div class="bg-holder bg-card" style="background-image:url({% static "assets/img/illustrations/corner-1.png" %});">
              </div>

              <div class="card-body position-relative">
                <h6>Общее количество товаров в справочнике<span class="badge badge-soft-warning rounded-capsule ml-2">-0.23%</span></h6>
                <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif text-warning">{{ product_count }}</div><a class="font-weight-semi-bold fs--1 text-nowrap" href="#!">Посмотреть все<span class="fas fa-angle-right ml-1" data-fa-transform="down-1"></span></a>
              </div>
            </div>
            <div class="card mb-3 overflow-hidden" style="min-width: 12rem">
              <div class="bg-holder bg-card" style="background-image:url({% static "assets/img/illustrations/corner-2.png" %});">
              </div>

              <div class="card-body position-relative">
                <h6>Общее количество контрагентов в справочнике<span class="badge badge-soft-info rounded-capsule ml-2">0.0%</span></h6>
                <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif text-info">{{ contractor_count }}</div><a class="font-weight-semi-bold fs--1 text-nowrap" href="#!">Посмотреть все<span class="fas fa-angle-right ml-1" data-fa-transform="down-1"></span></a>
              </div>
            </div>
            <div class="card mb-3 overflow-hidden" style="min-width: 12rem">
              <div class="bg-holder bg-card" style="background-image:url({% static "assets/img/illustrations/corner-3.png" %});">
              </div>

              <div class="card-body position-relative">
                <h6>Общая стоимость товаров на складе<span class="badge badge-soft-success rounded-capsule ml-2">9.54%</span></h6>
                <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif" data-countup='{"count":{{ total_cost }},"format":"comma","prefix":"BYN "}'>0</div><a class="font-weight-semi-bold fs--1 text-nowrap" href="#!"></a>
              </div>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-header">
              <div class="row align-items-center justify-content-between">
                <div class="col-6 col-sm-auto d-flex align-items-center pr-0">
                  <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">Справочник контрагентов</h5>
                </div>
                <div class="col-6 col-sm-auto ml-auto text-right pl-0">
                  <div class="d-none" id="purchases-actions">
                    <div class="input-group input-group-sm">
                      <select class="custom-select cus" aria-label="Bulk actions">
                        <option selected="">Bulk actions</option>
                        <option value="Refund">Refund</option>
                        <option value="Delete">Delete</option>
                        <option value="Archive">Archive</option>
                      </select>
                      <button class="btn btn-falcon-default btn-sm ml-2" type="button">Apply</button>
                    </div>
                  </div>
                  <div id="dashboard-actions">
                    <button class="btn btn-falcon-default btn-sm" type="button"><span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ml-1">Создать</span></button>
                    <button class="btn btn-falcon-default btn-sm" type="button"><span class="fas fa-external-link-alt" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ml-1"><a href="{% url 'main:contractors_to_xls' %}">Экспортировать</a></span></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body px-0 pt-0">
              <div class="dashboard-data-table">
                <table id="content-table" class="content-table table table-sm table-dashboard fs--1 data-table border-bottom" data-options='{"responsive":false,"pagingType":"simple","lengthChange":false,"searching":false,"pageLength":8,"columnDefs":[{"targets":[0,6],"orderable":false}],"language":{"info":"_START_ to _END_ Items of _TOTAL_ — <a href=\"#!\" class=\"font-weight-semi-bold\"> view all <span class=\"fas fa-angle-right\" data-fa-transform=\"down-1\"></span> </a>"},"buttons":["copy","excel"]}'>
                  <thead class="bg-200 text-900">
                    <tr>
                      <th column-key="id" display-name="Номер">Номер</th>
                      <th column-key="title" class="sort pr-1 align-middle">Наименование</th>
                      <th column-key="category" class="sort pr-1 align-middle">Категория</th>
                      <th column-key="dt_created" class="sort pr-1 align-middle">Дата создания</th>
                      <th column-key="dt_updated" class="sort pr-1 align-middle">Дата изменения</th>
                      <th column-key="to_remove" class="no-sort pr-1 align-middle data-table-row-action"></th>
                    </tr>
                  </thead>
                  {% comment %} <tbody id="purchases">
                    <tr class="btn-reveal-trigger">
                      <td class="align-middle">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input checkbox-bulk-select-target" type="checkbox" id="checkbox-0" />
                          <label class="custom-control-label" for="checkbox-0"></label>
                        </div>
                      </td>
                      <th class="align-middle"><a href="pages/customer-details.html">Sylvia Plath</a></th>
                      <td class="align-middle">john@gmail.com</td>
                      <td class="align-middle">Slick - Drag &amp; Drop Bootstrap Generator</td>
                      <td class="align-middle">Slick </td>
                      <td class="align-middle white-space-nowrap">
                        <div class="dropdown text-sans-serif">
                          <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal mr-3" type="button" id="dropdown0" data-toggle="dropdown" data-boundary="html" aria-haspopup="true" aria-expanded="false"><span class="fas fa-ellipsis-h fs--1"></span></button>
                          <div class="dropdown-menu dropdown-menu-right border py-0" aria-labelledby="dropdown0">
                            <div class="bg-white py-2"><a class="dropdown-item" href="#!">View</a><a class="dropdown-item" href="#!">Edit</a><a class="dropdown-item" href="#!">Refund</a>
                              <div class="dropdown-divider"></div><a class="dropdown-item text-warning" href="#!">Archive</a><a class="dropdown-item text-danger" href="#!">Delete</a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody> {% endcomment %}
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  <script>
    const apiURL = "/api/contractors/";

    const apiContractorCategoriesURL = "/api/contractor_categories/";
    let contractorCategories = null;

    function checkContractorFormData() {
        if ($("#contractor-title").val().trim() === "") {
            throw new Error("Наименование не может быть пустым!")
        }
    }

    function showContractors(url) {
        if (!contractorCategories) {
            $.ajax(apiContractorCategoriesURL, {
                "method": "GET",
                "dataType": "json",
                "async": false,
                "success": function (data) {
                    contractorCategories = data;
                }
            })
        }
        $.ajax(url, {
            "method": "GET",
            "dataType": "json",
            "success": function (data) {
                let contractors, nextPage, prevPage;
                if ("results" in data) {
                    contractors = data.results;
                    nextPage = data.next;
                    prevPage = data.previous;
                } else {
                    contractors = [data];
                    nextPage = prevPage = null;
                }

                //Создаем таблицу со списком контрагентов
                let $contentTable = $("#content-table");
                $("tr:not(:first-child)", $contentTable).remove()
                let $tableRow = null;
                for (let contractor of contractors) {
                    formatDates(contractor);
                    $tableRow = $("<tr>");
                    $tableRow.append($("<td class='align-middle'>").text(contractor.id));
                    $tableRow.append($("<td class='align-middle'>>").text(contractor.title));
                    $tableRow.append($("<td class='align-middle'>>").text(contractorCategories[contractor.category]));
                    $tableRow.append($("<td class='align-middle'>>").text(contractor.dt_created));
                    $tableRow.append($("<td class='align-middle'>>").text(contractor.dt_updated));
                    $tableRow.append($("<td class='align-middle'>>").text(contractor.to_remove ? "X" : "-"));
                    $tableRow.data("contractor", contractor);
                    $contentTable.append($tableRow);
                }
                $contentTable.on("click", "tr:not(:first-child)", contractorEdit);

                createPaginationButtons(prevPage, nextPage, showContractors);
            },
            "error": function (jqXHR) {
                showAjaxError(jqXHR, $("#contractor-editor"));
            }
        })
    }

    function contractorEdit() {
        let selectedContractor = $.data(this, "contractor");

        let $row = $(this);

        showModal($("#contractor-editor"));
        $("#contractor-number").text(selectedContractor.id);
        $("#contractor-dt-created").text(selectedContractor.dt_created);
        $("#contractor-dt-updated").text(selectedContractor.dt_updated);
        $("#contractor-title").val(selectedContractor.title);
        let categoriesList = [];
        for (let [key, value] of Object.entries(contractorCategories)) {
            categoriesList.push($("<option>").val(key).text(value));
            if (key === selectedContractor.category) {
                categoriesList[categoriesList.length - 1].prop("selected", true);
            }
        }
        $("#contractor-category").empty().append(...categoriesList);
        $("#contractor-to-remove").prop("disabled", false);
        $("#contractor-to-remove").prop("checked", selectedContractor.to_remove);

        $("#contractor-editor-save-button").off().click(() => {
            //Проверяем корректность внесения данных в форму
            try {
                checkContractorFormData();
            } catch (error) {
                alert(error.message);
                return;
            }

            let urlForRequest = `${apiURL}${selectedContractor.id}/`;
            $.ajax(urlForRequest, {
                "method": "PATCH",
                "dataType": "json",
                "data": {
                    "title": $("#contractor-title").val(),
                    "category": $("#contractor-category").val(),
                    "to_remove": $("#contractor-to-remove:checked").val() ? true : false
                },
                "success": function (data) {
                    formatDates(data);

                    $row.empty();
                    $row.append($("<td>").text(data.id));
                    $row.append($("<td>").text(data.title));
                    $row.append($("<td>").text(contractorCategories[data.category]));
                    $row.append($("<td>").text(data.dt_created));
                    $row.append($("<td>").text(data.dt_updated));
                    $row.append($("<td>").text(data.to_remove ? "X" : "-"));
                    $row.data("contractor", data);

                    closeModal($("#contractor-editor"));
                },
                "error": function (jqXHR) {
                    showAjaxError(jqXHR, $("#contractor-editor"));
                }
            })
        })
    }

    function contractorCreate() {
        showModal($("#contractor-editor"));

        $("#contractor-number").text("-");
        $("#contractor-dt-created").text("-");
        $("#contractor-dt-updated").text("-");
        $("#contractor-title").val("");
        let categoriesList = [];
        for (let [key, value] of Object.entries(contractorCategories)) {
            categoriesList.push($("<option>").val(key).text(value));
        }
        categoriesList[0].prop("selected", true);
        $("#contractor-category").empty().append(...categoriesList);
        $("#contractor-to-remove").prop("disabled", true);
        $("#contractor-to-remove").prop("checked", false);

        $("#contractor-editor-save-button").off().click(() => {
            try {
                checkContractorFormData();
            } catch (error) {
                alert(error.message);
                return
            }

            $.ajax(apiURL, {
                "method": "POST",
                "dataType": "json",
                "data": {
                    "title": $("#contractor-title").val(),
                    "category": $("#contractor-category").val()
                },
                "success": function (data) {
                    closeModal($("#contractor-editor"));
                    $("#search-field").val(data.id);
                    showContractors(`${apiURL}${data.id}`);
                },
                "error": function (jqXHR) {
                    showAjaxError(jqXHR, $("#contractor-editor"));
                }
            })
        })
    }

    let contractorSearch = getSearchFunction(showContractors, getDefaultSearchParams, apiURL);

    let contractorSort = getSortFunction(showContractors, getDefaultSearchParams, apiURL);

    $("#clear-search-field-button").click(() => {
        $("#search-field").val("");
        contractorSearch();
    });
    $("#create-button").click(contractorCreate);
    $("#search-button").click(contractorSearch);
    $("#contractor-editor-close-button, #contractor-editor-cancel-button").click(() => closeModal($("#contractor-editor")));
    $("#content-table th").click(contractorSort);

    showContractors(apiURL);
  </script>
    {% endblock main %}
    

    
