{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'menu.css' %}">
    <link rel="stylesheet" href="{% static 'buttons.css' %}">
    <link rel="stylesheet" href="{% static 'modals.css' %}">
    <link rel="stylesheet" href="{% static 'inputs.css' %}">
    <link rel="stylesheet" href="{% static 'content.css' %}">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <link rel="stylesheet" href="{% static 'search_elements.css' %}">
    <script src="{% static 'jquery-3.5.1.js' %}"></script>
    <script src="{% static 'common.js' %}"></script>
    <title>AnnSkachkova</title>
</head>
<body>

{% block message %}
{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}
</body>
</html>